<html>
<head>
<title>{{capcalera}}</title>
	</head>
<body>

{%if alumne%}	
<h1>{{titol}} {{alumne.name}}</h1>
	<ul>
		<li>
			NIF alumne: {{alumne.nif}}
		</li>
		<li>
			CURS alumne: 
			<ul>
				{%for curs in alumne.curs.all%}
				<li>
					{{curs}}
				</li>
				{%endfor%}
			</ul>
		</li>
	</ul>
	{% if user == alumne.user%}
		<p> <a href = "{{alumne.id}}/edit/"> Modificar alumne </a></p>
		<p> <a href = "{{alumne.id}}/delete/"> Eliminar alumne </a></p>
	{% endif %}
	<a href="/aalumnes/{{alumne.id}}/?format=json">Veure informació en format JSON</a>
{%else%}
<p>L'informacio de l'alumne encara no esta disponible</p>
{%endif%}


</body>
</html>