
<html>
<head>
<title>Informacio de la Base de Dades</title>
	</head>
	<body>
	<h1>Titulacions </h1>
	{% if titulacio %}
	<ul>
	{% for t in titulacio %}
		<li>
			<a href="/titulacionsinfo/{{t.name}}">{{t.name}}</a>
		
		</li>
	{% endfor %}
	</ul>
	<p>Per descarregar la informacio de titulacions en xml cliqui <a href="/titulacionsinfo/ADE/xml">aqui</a></p>
	{% else %}
	<p>No titulacions.</p>
	{% endif %}
	<h1>Cursos </h1>
	{% if curs %}
	<ul>
	{% for c in curs %}
		<li>
		<a href="/cursinfo/{{c.year}}">{{c.year}} curs de {{c.titulacio}}</a>
		</li>
	{% endfor %}
	</ul>
	<p>Per descarregar la informacio cursos en xml cliqui <a href="/cursinfo/1/xml">aqui</a></p>
	{% else %}
	<p>No Cursos.</p>
	{% endif %}
	<h1><a href="/au"></a>Aules</h1>
	{% if aula %}
	<ul>
	{% for a in aula %}
		<li>
		<a href= "/aulesinfo/{{a.id}}">{{a.name}}</a>
		</li>
	{% endfor %}
	</ul>
	<p>Per descarregar la informacio d'aules en xml cliqui <a href="/aulesinfo/ADE/xml">aqui</a></p>
	{% else %}
	<p>No aules.</p>
	{% endif %}
	<h1>Alumnes</h1>
	{% if alumne %}
	<ul>
	{% for a in alumne %}
		<li>
		<a href="/alumnesinfo/{{a.name}}">{{a.name}}</a>
		</li>
	{% endfor %}
	</ul>
	<p>Per descarregar la informacio d'alumnes en xml cliqui <a href="/alumnesinfo/ADE/xml">aqui</a></p>
	{% else %}
	<p>No alumnes.</p>
	{% endif %}
	<h1> Professors</h1>
	{% if prof %}
	<ul>
	{% for p in prof %}
		<li>
			<a href="/professorsinfo/{{p.name}}">{{p.name}}</a>
		</li>
	{% endfor %}
	</ul>
	<p>Per descarregar la informacio de professors en xml cliqui <a href="/professorsinfo/ADE/xml">aqui</a></p>
	{% else %}
	<p>No aules.</p>
	{% endif %}
	</body>
</html>